@import "@picocss/pico/css/pico.min.css";



:root {
  --color-bg: hsl(220, 5%, 15%);
  --color-text: hsl(0, 0%, 98%);
  --shadow: var(--shadow);
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

article.card {
  box-shadow: var(--shadow);
}