@import "@picocss/pico/css/pico.min.css";



:root {
  --color-bg: hsl(220, 5%, 15%);
  --color-text: hsl(0, 0%, 98%);
  --shadow: var(--shadow);
  --flow-space: 1.5rem;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

article.card {
  box-shadow: var(--shadow);
}

.flex > * + * {
  margin-left: var(--flow-space);
}

.btn-group > * + * {
  margin-left: var(--flow-space);

}
.add-creator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: var(--flow-space);
    text-decoration: none;
    border: 1px solid lightgray;
}
